<launch>    
<!-- Kinect Drive  -->
    <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true"/>
    </include>
<!-- RTAB Localization  -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rviz" value="true"/>
      <arg name="rtabmapviz" value="false"/>
      <arg name="localization" value="true"/>
      <arg name="database_path" value="~/maps/amp.db"/>
    </include>
</launch>

