<launch>
<!-- Args  -->
<arg name="map_file" default="/home/amp/rtab_maps/1.yaml"/>

<!-- Arlo Robot  -->
 <include file="$(find arlobot_bringup)/launch/minimal.launch" />

<!-- Load Map  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<!-- RTAB Mapping  -->
    <include file="$(find rtabmap_ros)/launch/demo/demo_turtlebot_mapping.launch">
       <arg name="database_path" value="/home/amp/rtab_maps/amp.db"/>
       <arg name="localization" value="true"/>
    </include>
</launch>