<launch>
<!-- args -->
  <arg name="bag" default="false" />
  
<!-- Arlo Robot  -->
 <include file="$(find arlobot_bringup)/launch/minimal.launch" />
  
<!-- RTAB Localization -->
    <include file="$(find arlobot_navigation)/launch/rtabmap_mapping.launch">
      <arg name="database_path" value="~/rtab_maps/amp.db"/>
      <arg name="localization" value="true"/>
    </include>  


</launch>