<launch>
<!-- args -->
  <arg name="bag" default="false" />
  
<!-- Arlo Robot  -->
 <include file="$(find arlobot_bringup)/launch/minimal.launch" />
  
<!-- RTAB Mapping -->
    <include file="$(find arlobot_navigation)/launch/rtabmap_mapping.launch">
      <arg name="args" value="--delete_db_on_start"/>
      <arg name="database_path" value="~/rtab_maps/1.db"/>
    </include>  

</launch>